<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436270543492-cfee2qujfbn6l1jvv6epktsktana2a8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436270543492-cfee2qujfbn6l1jvv6epktsktana2a8s</string>
	<key>API_KEY</key>
	<string>AIzaSyDIjqINjB2IlK5VdJKzIobq6wF6_7tT4eo</string>
	<key>GCM_SENDER_ID</key>
	<string>436270543492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mhacks.voter</string>
	<key>PROJECT_ID</key>
	<string>voter-4132c</string>
	<key>STORAGE_BUCKET</key>
	<string>voter-4132c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436270543492:ios:86e0336cc0a11dccccc8d1</string>
	<key>DATABASE_URL</key>
	<string>https://voter-4132c.firebaseio.com</string>
</dict>
</plist>